<!-- //Name: COMP2007 Enterprise Computing final project  - Summer 2016
//Author: Mo Zou &　Pui in Kwok & Yang Li
//Description: This assignment base on assginment 2, the MVC restaurant. Then add more security control and get motified website.
-->

@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
    <h1>About us</h1>
    <p>Hi guys, here is MVC restaurant. We got many fresh food for you here, with super low price.</p>
    <p>Come on! Let's check it out now!</p>
</div>